<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List users</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>

    <div th:insert="fragments/header::header"></div>
<h3>User Directory</h3>
<hr>
<table th:border="1">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Date of birth</th>
    <th>Balance</th>
    <th>Role</th>

  </tr>
  </thead>

  <tbody>
  <tr th:each="tempUser : ${users}">
    <td th:text="${tempUser.firstName}"/>
    <td th:text="${tempUser.lastName}"/>
    <td th:text="${tempUser.email}"/>
    <td th:text="${tempUser.phoneNumber}"/>
    <td th:text="${tempUser.dateOfBirth}"/>
    <td th:text="${tempUser.balance}"/>
    <td th:text="${tempUser.role}"/>


  </tr>

  </tbody>
</table>


    <div th:insert="fragments/footer::footer"></div>

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous">

    </script>
</body>
</html>